In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [15]:
df = pd.read_csv('train.csv')
df1 = pd.read_csv('test.csv')
df.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [16]:
df1.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          137 non-null    int64
 1   Open Date   137 non-null    object
 2   City        137 non-null    object
 3   City Group  137 non-null    object
 4   Type        137 non-null    object
 5   P1          137 non-null    int64
 6   P2          137 non-null    float64
 7   P3          137 non-null    float64
 8   P4          137 non-null    float64
 9   P5          137 non-null    int64
 10  P6          137 non-null    int64
 11  P7          137 non-null    int64
 12  P8          137 non-null    int64
 13  P9          137 non-null    int64
 14  P10         137 non-null    int64
 15  P11         137 non-null    int64
 16  P12         137 non-null    int64
 17  P13         137 non-null    float64
 18  P14         137 non-null    int64
 19  P15         137 non-null    int64
 20  P16         137 non-null    int64
 21  P17         137 non-null    int64
 22  P18         137 non-null    int64
 23  P19         137 non-null    int64
 24  P20         137 non-null    int64
 25  P21         137 non-null    int64
 26  P22         137 non-null    int64
 27  P23         137 non-null    int64
 28  P24         137 non-null    int64
 29  P25         137 non-null    int64
 30  P26         137 non-null    float64
 31  P27         137 non-null    float64
 32  P28         137 non-null    float64
 33  P29         137 non-null    float64
 34  P30         137 non-null    int64
 35  P31         137 non-null    int64
 36  P32         137 non-null    int64
 37  P33         137 non-null    int64
 38  P34         137 non-null    int64
 39  P35         137 non-null    int64
 40  P36         137 non-null    int64
 41  P37         137 non-null    int64
 42  revenue     137 non-null    float64
dtypes: float64(9), int64(30), object(4)
memory usage: 46.1+ KB

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Id          100000 non-null  int64
 1   Open Date   100000 non-null  object
 2   City        100000 non-null  object
 3   City Group  100000 non-null  object
 4   Type        100000 non-null  object
 5   P1          100000 non-null  int64
 6   P2          100000 non-null  float64
 7   P3          100000 non-null  float64
 8   P4          100000 non-null  float64
 9   P5          100000 non-null  int64
 10  P6          100000 non-null  int64
 11  P7          100000 non-null  int64
 12  P8          100000 non-null  int64
 13  P9          100000 non-null  int64
 14  P10         100000 non-null  int64
 15  P11         100000 non-null  int64
 16  P12         100000 non-null  int64
 17  P13         100000 non-null  float64
 18  P14         100000 non-null  int64
 19  P15         100000 non-null  int64
 20  P16         100000 non-null  int64
 21  P17         100000 non-null  int64
 22  P18         100000 non-null  int64
 23  P19         100000 non-null  int64
 24  P20         100000 non-null  int64
 25  P21         100000 non-null  int64
 26  P22         100000 non-null  int64
 27  P23         100000 non-null  int64
 28  P24         100000 non-null  int64
 29  P25         100000 non-null  int64
 30  P26         100000 non-null  float64
 31  P27         100000 non-null  float64
 32  P28         100000 non-null  float64
 33  P29         100000 non-null  float64
 34  P30         100000 non-null  int64
 35  P31         100000 non-null  int64
 36  P32         100000 non-null  int64
 37  P33         100000 non-null  int64
 38  P34         100000 non-null  int64
 39  P35         100000 non-null  int64
 40  P36         100000 non-null  int64
 41  P37         100000 non-null  int64
dtypes: float64(8), int64(30), object(4)
memory usage: 32.0+ MB

In [20]:
# Data type conversion
df = df.astype({"City":'category',"City Group":'category',"Type":'category', "Open Date":'datetime64[ns]'})
# df_train.info()
df1 = df1.astype({"City":'category',"City Group":'category',"Type":'category', "Open Date":'datetime64[ns]'})
# df_test.info()

In [22]:
cities = df.City.unique().tolist()
print(len(cities))
city_group = df['City Group'].unique().tolist()
print(city_group)
type_ = df['Type'].unique().tolist()
print(type_)

34
['Big Cities', 'Other']
['IL', 'FC', 'DT']

In [23]:
cities = df1.City.unique().tolist()
print(len(cities))
city_group = df['City Group'].unique().tolist()
print(city_group)
type_ = df['Type'].unique().tolist()
print(type_)

57
['Big Cities', 'Other']
['IL', 'FC', 'DT']

In [24]:
df['City Group'] = df[['City Group']].apply(lambda x: x.cat.codes)
df['Type'] = df[['Type']].apply(lambda x: x.cat.codes)

# # # Correlation for train set
# plt.rcParams["figure.figsize"] = (20,10)
# sns.heatmap(df_train[['City Group','Type','revenue']].corr(), annot=True)
# plt.show()

from sklearn.tree import DecisionTreeRegressor

df = df.drop(columns = ['Id','Open Date','City'],axis=1)
X = df.loc[:, df.columns != 'revenue']
y = df.loc[:, df.columns == 'revenue']

tree = DecisionTreeRegressor().fit(X, y)
# print(X.columns)
# np.round(tree.feature_importances_, 3)

# Feature importance dataframe
d = {'Importance': np.round(tree.feature_importances_, 3) , 'Features': X.columns}
feature_imp = pd.DataFrame(data=d)
# feature_imp

# Sort
feature_imp_order = feature_imp.sort_values('Importance', ascending=False).reset_index(drop=True)[0:20]
feature_imp_order

    Importance Features
0        0.160      P29
1        0.114       P5
2        0.100       P6
3        0.084      P22
4        0.076       P8
5        0.066      P20
6        0.065       P2
7        0.048      P17
8        0.047      P28
9        0.044       P1
10       0.028      P21
11       0.025      P25
12       0.023      P16
13       0.019     Type
14       0.015      P11
15       0.012      P26
16       0.011      P12
17       0.011       P3
18       0.009      P32
19       0.009       P4

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler


X_main = df[feature_imp_order.Features.values]
y_main = df['revenue']
scaler_train = StandardScaler()
scaler_train.fit(X_main)
X_main_scaled = scaler_train.transform(X_main)

## 
linear_regr = LinearRegression()
linear_regr.fit(X_main_scaled, y)
y_pred = linear_regr.predict(X_main_scaled)
accuracy = linear_regr.score(X_main_scaled,y)
print("Train Accuracy {}%".format(int(round(accuracy *100))))
#print("Training RMSE Linear regression ",mean_squared_error(y, y_pred, squared=False))


dt_regr = DecisionTreeRegressor(random_state = 0) 
  
# fit the regressor with X and Y data
dt_regr.fit(X_main_scaled, y)
y_pred = dt_regr.predict(X_main_scaled)
accuracy = dt_regr.score(X_main_scaled,y)
print("Train Accuracy {}%".format(int(round(accuracy *100))))

Train Accuracy 23%
Train Accuracy 89%

In [32]:
df1
df1['City Group'] = df1[['City Group']].apply(lambda x: x.cat.codes)
df1['Type'] = df1[['Type']].apply(lambda x: x.cat.codes)

result_df_linear_regr = pd.DataFrame()
result_df_linear_regr['Id'] = df_test['Id'].values

result_df_svm_regr = pd.DataFrame()
result_df_svm_regr['Id'] = df_test['Id'].values

result_df_dt_regr = pd.DataFrame()
result_df_dt_regr['Id'] = df_test['Id'].values

df1 = df1[feature_imp_order.Features.values]

X_test = df1.loc[:, df_test.columns != 'revenue']
# y_test = df_test.loc[:, df_train.columns == 'revenue']

scaler_test = StandardScaler()
scaler_test.fit(X_test)
X_test_scaled = scaler_test.transform(X_test)

y_pred_linear_regr = linear_regr.predict(X_test_scaled)
result_df_linear_regr['Prediction'] = y_pred_linear_regr
result_df_linear_regr['Prediction'] = result_df_linear_regr['Prediction'].apply(lambda x:round(x,2))
result_df_linear_regr

y_pred_svm_regr = svm_regr.predict(X_test_scaled)
result_df_svm_regr['Prediction'] = y_pred_svm_regr
result_df_svm_regr['Prediction'] = result_df_svm_regr['Prediction'].apply(lambda x:round(x,2))
result_df_svm_regr

y_pred_dt_regr = dt_regr.predict(X_test_scaled)
result_df_dt_regr['Prediction'] = y_pred_dt_regr
result_df_dt_regr['Prediction'] = result_df_dt_regr['Prediction'].apply(lambda x:round(x,2))
result_df_dt_regr.to_csv('Prediction_DT.csv',index=False)
result_df_dt_regr

AttributeError: Can only use .cat accessor with a 'category' dtype